.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header-logo {
  width: 100px;
}
.menu-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.menu_item {
  color: #ef7367;
  padding: 10px 20px;
  font-size: 22px;
}
